Package: uae4all
Version: rev1.1a
Depends: 
Source: https://github.com/Apaczer/uae4all
License: GPL-2.0
Description: AMIGA 500 OCS 1MB emulator
Section: emulators
Priority: optional
Maintainer: Apaczer
Architecture: arm
